.home-container {
    background-color: #D9DDDC;
    height: 100%;
    padding: 6rem;
}

.contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.item {
    border: 1px solid black;
    height: 18rem;
    display: flex;
    flex-direction: column;
}

.home-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img-top {
    height: 5rem;
    width: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
