.home-container {
    background-color: #D9DDDC;
    height: 100%;
    padding: 6rem;
}

.contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개씩 나열 */
    grid-row-gap: 1rem; /* 행 간격 */
    grid-column-gap: 1rem; /* 열 간격 */
    justify-content: center;
}

.item {
    border: 1px solid black;
    height: 18rem;
}

.home-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img-top {
    height: 5rem;
    width: 5rem;
}

/* 카드 스타일을 추가 */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 카드 내용 간의 공간을 균등하게 분배 */
    height: 100%; /* 카드의 전체 높이를 유지 */
}
