.home-container {
    background-color: #D9DDDC;
    height: 100%;
    padding: 6rem;
}

.contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열로 구성 */
    grid-gap: 1rem; /* 카드 간의 간격 */
}

.item {
    border: 1px solid black;
    height: 18rem;
    display: flex; /* 필요에 따라 flex 사용 */
    flex-direction: column; /* 세로 방향 정렬 */
}

.home-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img-top {
    height: 5rem;
    width: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* 카드 전체 높이 */
}
